
li{list-style:none;}
// 头部导航
#topbar{
   position:relative;
      width: 100%;
      height: 30px;
      background: #eee;
      border-bottom: 1px solid #F0F0F0;
    .user_left{
         width: 280px; 
         float:left;
         p{
          font-size: 12px;
          color: #777777;
          line-height: 30px;
            a{color:#ec3e7d;}
            #login{
           }
            #reg{
              display: inline-block;
            }
            #out{
              display: none;
            }
            #name{
               display: none;
            }
         }
    }
    .user_right{
        // width:800px;
        float:right;
        height:30px;
        ul{
            a{color:#6c6c6c;}
            li{
                float:left;
                line-height:30px;
                a{
                   padding-right:8px; 
                }
                      
            }
            li.noline{
                height:30px;
                #mem_dl_539{
                    display:none;
                }
                #minicart_540{
                    width:100px;
                }
            }
        }
    }
}

// 搜索栏
.header-main{
    // width: 1200px;
    padding:20px 0 20px 0;
    box-sizing:border-box;
    .sotelogo-rs{
        float:left;
        position:relative;
    }
    .search{
        width: 500px;
        height: 66px;
        float:left;
        margin-left:150px;
        position:relative;

        form{
          .btn-search {
                position: absolute;
                right: 69px;
                top: 0px;
                width: 80px;
                height: 36px;
                background: #ec3e7d;
                color: #fff;
            }  
        }
        .hot-keywords{
            a{
                color:#6c6c6c;
                padding-right:10px;
            }
        }

        
        input{
            width: 346px;
            height: 30px;
            border:3px solid #ec3e7d;
        }
    }
    .topright{
        float:right ;
    }
}

// 分类栏
.nav-category{
    height:36px;
    .container{
        .all-category{       
            width: 212px;
            height:485px;
            background: #EF3C79;
            color: white;
            font-size: 12px;
            line-height: 36px;
            z-index: 888;
            // box-sizing:border-box;
            margin-right:20px;
            li{
                height:60px;
               a{
                    color:#fff;

                } 
            }
            
            #cat_550{
                .sasa_category{
                    .sasa_category_ul{
                        .sasa_category_item_inner{
                             padding:0 10px;
                            .sasa_category_item_hd{

                                float:left;
                               
                            }
                            .more_category{
                                float:right;

                            }
                            
                        }
                    }
                }
            }
        }

        .tj-category-rs{
            width:700px;
            height:36px;
            ul#sub_nav_551{
                li.sub_nav_item,li.sub_nav_sep{
                    float:left;
                    
                    a{
                        padding-right:8px;
                        color:#000;
                        // padding-top:5px;
                    }

                }
            }
        }

    }
}

// banner

// 广告位
.advertisement{
    // height:330px;
    // width:100%;
    margin-top:30px;
    ul{
        height:190px;
        width:100%;
        margin-top:30px;
        li{
            float:left;
            padding-right:2px;
        }
    }
    .promise{
        // height:120px;
        img{
            width:100%;
            height:120px;
            // margin:0 ;

        }

    }
}

// 主体1：每日必看
.flashsale{
    // background: #f2f2f2;
    // height:1174px;
    .container{
        .sasa_mustcheck{
            .sasa_mustcheck_head{
               text-align:center;
               font-size:24px;
                line-height:26px;
                height:26px;
                margin: 30px;
            }
            p:first-child{
                color:#e93b78;
                font-size:20px;
            }
            span:last-of-type{
                display:inline-block;
                color:#fff;
                width:100px;
                height:20px;
                background: #e93b78;
                text-align:center;
            }

            // #sasa_mustcheck_container{
            //     width:1200px;
            //     height:1112px;
            //     background: red;
            //     a{
            //         color:#ccc;
            //         display:block;
            //         margin-bottom:10px;
            //         div.sasa_mustcheck_item{
            //             width: 592px;
            //             height:278px;
            //             img{
            //                 width: 360px;
            //                 height:260px;
            //             }
            //             div.sasa_mustcheck_info{
            //                 width: 230px;
            //                 height: 260px;
            //                 background: red;
            //             }
            //           }  
            //         }
            // }
        }
    }
}

// #sasa_mustcheck_container\20 clearfix\20 > a:nth-child(1) > div > div
// #sasa_mustcheck_container\20 clearfix\20
// 
// style="width: 230px;height: 260px;text-align:center;padding-top:60px;"


// 主体2：新品
// .newarrivals-rs{
//     .container{
//         a{style="color:#000"}
//         .sasa_new{
//             .sasa_new_head{
//                 text-align:center;
//                 font-size:24px;
//                 line-height:26px;
//                 height:26px;
//                 margin: 15px;
//             }
//         }
//     }
// }
// 香港
//   style="color:#ee9c23"
// 69
//   style="color:#fc3f83"
//  a
//  style="color:#000"


// 主体3：限时特卖
.sasa_limit_head_container{
    .container{

        a{
            color:#000;
            
           .yew{
                color:#ee9c23;
            }
            .sasa_limit_btn{
                color:#fff;
                background: #fc3f83;
                width:100px;
                height:30px;
                display:inline-block;
                text-align:center;
                line-height:30px;
                margin-left:380px;
            }

         
        }
     }
}
//  style="width:480px;height:280px;"



// 底部
.footer{
    // height:500px;
    margin-top:100px;
    // background: url("../images/index/footer.JPG") no-repeat;
}
