li {
  list-style: none;
}

#topbar {
  position: relative;
  width: 100%;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #F0F0F0;
}

#topbar .user_left {
  width: 280px;
  float: left;
}

#topbar .user_left p {
  font-size: 12px;
  color: #777777;
  line-height: 30px;
}

#topbar .user_left p a {
  color: #ec3e7d;
}

#topbar .user_left p #reg {
  display: inline-block;
}

#topbar .user_left p #out {
  display: none;
}

#topbar .user_left p #name {
  display: none;
}

#topbar .user_right {
  float: right;
  height: 30px;
}

#topbar .user_right ul a {
  color: #6c6c6c;
}

#topbar .user_right ul li {
  float: left;
  line-height: 30px;
}

#topbar .user_right ul li a {
  padding-right: 8px;
}

#topbar .user_right ul li.noline {
  height: 30px;
}

#topbar .user_right ul li.noline #mem_dl_539 {
  display: none;
}

#topbar .user_right ul li.noline #minicart_540 {
  width: 100px;
}

.header-main {
  padding: 20px 0 20px 0;
  box-sizing: border-box;
}

.header-main .sotelogo-rs {
  float: left;
  position: relative;
}

.header-main .search {
  width: 500px;
  height: 66px;
  float: left;
  margin-left: 150px;
  position: relative;
}

.header-main .search form .btn-search {
  position: absolute;
  right: 69px;
  top: 0px;
  width: 80px;
  height: 36px;
  background: #ec3e7d;
  color: #fff;
}

.header-main .search .hot-keywords a {
  color: #6c6c6c;
  padding-right: 10px;
}

.header-main .search input {
  width: 346px;
  height: 30px;
  border: 3px solid #ec3e7d;
}

.header-main .topright {
  float: right;
}

.nav-category {
  height: 36px;
}

.nav-category .container .all-category {
  width: 212px;
  height: 485px;
  background: #EF3C79;
  color: white;
  font-size: 12px;
  line-height: 36px;
  z-index: 888;
  margin-right: 20px;
}

.nav-category .container .all-category li {
  height: 60px;
}

.nav-category .container .all-category li a {
  color: #fff;
}

.nav-category .container .all-category #cat_550 .sasa_category .sasa_category_ul .sasa_category_item_inner {
  padding: 0 10px;
}

.nav-category .container .all-category #cat_550 .sasa_category .sasa_category_ul .sasa_category_item_inner .sasa_category_item_hd {
  float: left;
}

.nav-category .container .all-category #cat_550 .sasa_category .sasa_category_ul .sasa_category_item_inner .more_category {
  float: right;
}

.nav-category .container .tj-category-rs {
  width: 700px;
  height: 36px;
}

.nav-category .container .tj-category-rs ul#sub_nav_551 li.sub_nav_item, .nav-category .container .tj-category-rs ul#sub_nav_551 li.sub_nav_sep {
  float: left;
}

.nav-category .container .tj-category-rs ul#sub_nav_551 li.sub_nav_item a, .nav-category .container .tj-category-rs ul#sub_nav_551 li.sub_nav_sep a {
  padding-right: 8px;
  color: #000;
}

.advertisement {
  margin-top: 30px;
}

.advertisement ul {
  height: 190px;
  width: 100%;
  margin-top: 30px;
}

.advertisement ul li {
  float: left;
  padding-right: 2px;
}

.advertisement .promise img {
  width: 100%;
  height: 120px;
}

.flashsale .container .sasa_mustcheck .sasa_mustcheck_head {
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  height: 26px;
  margin: 30px;
}

.flashsale .container .sasa_mustcheck p:first-child {
  color: #e93b78;
  font-size: 20px;
}

.flashsale .container .sasa_mustcheck span:last-of-type {
  display: inline-block;
  color: #fff;
  width: 100px;
  height: 20px;
  background: #e93b78;
  text-align: center;
}

.sasa_limit_head_container .container a {
  color: #000;
}

.sasa_limit_head_container .container a .yew {
  color: #ee9c23;
}

.sasa_limit_head_container .container a .sasa_limit_btn {
  color: #fff;
  background: #fc3f83;
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-left: 380px;
}

.footer {
  margin-top: 100px;
}
